body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    height: 60%;
    flex-grow: 3;
    display: flex;
}
header, footer {
    height: 20%;
    flex-grow: 1;
    background-color: black;
}
/* rgb(105, 101, 110) */
.sides {
    flex-grow: 1;
    background-color: black;
}
.wrapper {
    flex-grow: 10;
    background-color: #2F2D3F;
    display: flex;
    flex-direction: column;
}
.box-supporter {
    flex-grow: 1;
}
.box-container {
    flex-grow: 6.5;
    background-color: rgb(40,38,57);
    display: flex;
}
.chat-supporter {
    flex-grow: 2;
    background-color: #2F2D3F;
}
.chat-container {
    flex-grow: 8;
    display: flex;
    flex-direction: column;
}
.chat-box {
    flex-grow: 8.5;
    display: flex;
    flex-direction: column;
}
.button-box {
    /* border: 2px solid white; */
    flex-grow: 1;
    background-color: #2F2D3F;
    display: flex;
    justify-content: flex-end;
}
.chat-header {
    flex-grow: 1;
    background-color: rgb(254, 110, 110);
    display: flex;
}
.chat-body {
    flex-grow: 7
}
.group-title {
    /* border: 2px solid white; */
    color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.group-pictures {
    /* border: 2px solid white; */
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    border: 3px solid white;
    border-radius: 50%;
    height: 4em;
    width: 4em; 
}